//-------------TIPOGRAFIA------------
$font-light: "Poppins-Light";
$fonte-normal: "Poppins-Regular";
$fonte-bold: "Poppins-Bold";

//----------VARIAVEIS CORES----------

$principal: #0CABA8;
$secundario: #078684;
$terciario: #0b6b69;
$escuro: #023535;
$contraste: #AB450C;
$claro: #FFFFFF;
$escuro: #000000;
$inputClaro: #d5ffff;
$escuroSecundario: rgb(75, 75, 75);
$escuroEsmaecido: rgba(0, 0, 0, 0.15);

$hoverItem: #09eeea;
$fundoModal: rgba(0, 0, 0, 0.7);