@import-normalize;
@import "./variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fonte-normal;
  }

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
  url("../../src/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"),
  url("../../src/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins-Light"),
  url("../../src/assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
