@import "../../styles/variables";

.container{
display: flex;
flex-direction: column;
justify-content: center;
transform: scale(0.8);
gap: 1rem;
font-size: 1.5rem;
background-color: $escuroEsmaecido;

    .titutlo{
        background-image: linear-gradient(to right, black, white, black, white);
        text-align: center;
        padding: 0.6rem;
    }

    .preco{
        
    }

    .container_tamanhoCamisa{
        display: flex;
        gap: 0 1rem;
        align-items: center;
        
        .containerOpcoes{
            padding: 0.7rem;
            border: none;
            font-family: $fonte-bold;
            font-size: 1.2rem;
        }
    }

    .containerCompra{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .botaoComprar{
        padding: 1rem;
        border: none;
        border-radius: 0.3rem;
        background-color: $terciario;
        transition: 0.5s;
        font-family: $fonte-bold;
        font-size: 1.1em;
        cursor: pointer;
    }
    
    .botaoComprar:hover{
        transition: 0.5s;
        background-color: $hoverItem;
    }
}