.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__slider{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: green;
        max-width: 70%;
    }
}