@import "../../styles/variables";


.container{
    display: flex;
    flex-direction: column;
    .titulo{
        
    }
    .container_card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}